@import '~antd/dist/antd.css';

.App {
  margin-top: 50px;
  margin-left: 150px;
  margin-right: 150px;
}

body {
  /* background-image: url("vector.jpg") !important;
  background-repeat: repeat !important; */
}

.header {
  margin-bottom: 50px;
}

.header-row {
  margin-bottom: 10px;
}

.header-item {
  margin-right: 5px;
}

.menu-item {
  margin-right: 30px;
}

.image-upload-preview {
  height: 300px !important;
  width: 300px !important;
}

.edit-input {
  width: 75px !important;
}

.release-card {
  margin-bottom: 25px;
}

.subcontainer {
  margin-bottom: 25px;
}

.page-item {
  margin-bottom: 50px;
}
