@import '~antd/dist/antd.css';

.App {
  margin-left: 100px;
  margin-right: 100px;
}

.header-row {
  margin-bottom: 10px;
}

.header-item {
  margin-right: 5px;
}

.menu-item {
  margin-right: 30px;
}
